<% if !user_signed_in? %>
  <% controller.redirect_to root_path %>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1 class="my-4">My posts</h1>    
      <% if @posts.any? %>
        <%= render partial: 'shared/feed_item', collection: @my_posts %>
      <% end %>
      <%= will_paginate @posts, renderer: BootstrapPagination::Rails, class: "pagination justify-content-center mb-4" %>
    </div>
    <div class="col-md-4">
      <%= render partial: 'widget_search'%>
      <%= render partial: 'widget_categories'%>
      <%= render partial: 'widget_date'%>
      <%= render partial: 'widget_time'%>
    </div>
  </div>
</div>
    